# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Ignore Django migrations (but keep __init__.py so the folder is recognized as a package)
**/migrations/
!**/migrations/__init__.py

# Virtual environment
venv/
env/
ENV/
*.env
*.venv

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Node modules (if using frontend tooling)
node_modules/
log.txt
