{% extends "forum/base.html" %}
{% load static %}

{% block title %} Threads | {{ config.site_name }}{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-[#1B3B6F] mb-4">All Threads</h2>
    
    <ul class="space-y-4">
        {% for thread in threads %}
        <li class="border-b pb-3">
            <a href="{% url 'thread_view' thread.id %}" class="block bg-gray-100 p-4 rounded-lg shadow-md hover:bg-gray-200">
                <h3 class="text-xl font-bold text-[#1B3B6F]">{{ thread.title }}</h3>
                <p class="text-gray-600">Started by <strong>{{ thread.author.username }}</strong> on {{ thread.created_at }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
